@model IEnumerable<Administracao.Web.ViewModel.Produto.ProdutoExibicaoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Produtos</h2>

<div id="divDados">
    @Html.Partial("Exibir", Model)
</div>
<div id="divCreate"></div>
<div id="divEdit"></div>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script type="text/javascript">
        function cadastro() {
            var url = '@Url.Action("Create", "Produto")';
            $.get(url,null
                ).done(function (data) {
                    $("#divDados").slideUp(200, function () {
                        $("#divCreate").html(data).slideDown(100);
                    });
                }).error(function () {
                    alert("erro");
                });
        };
        function editar(id) {
            var url = '@Url.Action("Edit", "Produto")';
            $.get(url,
            {
                id: id
            }).done(function (data) {
                console.log(data);
                $("#divDados").slideUp(200, function () {
                    $("#divEdit").html(data).slideDown(200);
                });
            }).error(function () {
                alert("erro");
            });
        };
        function cancelar() {
            var url = '@Url.Action("Exibir", "Produto")';
            $.get(url, null
                ).done(function (data) {
                    $("#divCreate").slideUp(200, function () {
                        $("#divDados").html(data).slideDown(100);
                    });
                }).error(function () {
                    alert("erro");
                });
        };



        function cancelarEditar() {
            var url = '@Url.Action("Exibir", "Produto")';
            $.get(url, null
                ).done(function (data) {
                    $("#divEdit").slideUp(200, function () {
                        $("#divDados").html(data).slideDown(100);
                    });
                }).error(function () {
                    alert("erro");
                });
        };
        
        function deletar(id) {
            var url = '@Url.Action("Delete", "Produto")';
            if (confirm('Deseja Realmente Excluir o Produto ?')) {
                $.get(url,
                   {
                       id: id
                   }).done(function (data) {
                       console.log(data);
                       $("#divDados").slideUp(200, function () {
                           $("#divDados").html(data).slideDown(200);
                       });
                   }).error(function () {
                       alert("erro");
                   });
            }

        };

        $(document).ready(function () {            
            $('#valCompra').mask("#.##0,00", { reverse: true });
            $('#valVenda').mask("#.##0,00", { reverse: true });
        });
        



        $('#pesquisaProduto').on('keyup', function () {
            var nome = $(this).val().toLowerCase();
            $('#tblExibir').find('tr').each(function () {
                var conteudoCelula = $(this).find('td:first').text();
                var corresponde = conteudoCelula.toLowerCase().indexOf(nome) >= 0;
                $(this).css('display', corresponde ? '' : 'none');
            });
        });




    </script>
}